.post img{
    height: 244px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}
.post .img{
    position: relative;
}
.post .img::before{
    transition: all .3s ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.post:hover .img::before{
    background-color: rgba(0, 0, 0, .4);
}